<h1 id="tableLabel">test data</h1>

<p>This component demonstrates fetching data from the server.</p>

<button *ngIf="!channels" (click)="getData()">Click Here to display Data</button>

<button (click)="checkChannel()">Check Channel Values</button>

<div *ngFor='let channel of channels'>
  <b>{{ channel.created_by }}</b>
  <b>{{ channel.created_date }}</b>
  <b>{{ channel.description }}</b>
</div>

<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
      <div class="col-2">User</div>
      <div class="col-4">
        <input type="text" [(ngModel)]='user'/>
      </div>
  </div>
  <div class="row">
      <div class="col-2">Message</div>
      <div class="col-4">
        <input type="text" [(ngModel)]='message'/>
      </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
      <div class="col-6">
          <button (click)="sendMessage(user, message)">Send Message</button>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <hr />
  </div>
</div>
<div class="row">
  <div class="col-6" *ngFor='let message of data'>
      <ul>
        {{ message.user }} says {{ message.message}}
      </ul>
  </div>
</div>
